{% extends base_template %}
{% load i18n %}
{% load staticfiles %}
{% load my_filters %}
{% load i18n_filters %}
{% block watch_active %}active{% endblock watch_active %}

{% block title %}KA Lite{% endblock title %}

{% block headcss %}{{ block.super }}
    <style>

        .video-language-selector {
            position: relative;
            top: -2px;
        }

        .vidprev, .vidnext {
            padding-bottom: 10px;
            margin-top: -5px;
        }

        .related-exercise-button {
            float: right;
            margin-top: 5px;
        }

    </style>
     <!-- Acorn Media Player CSS -->
    <link href="{% static "acorn/acornmediaplayer/acornmediaplayer.base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "acorn/acornmediaplayer/themes/access/acorn.access.css" %}" rel="stylesheet" type="text/css">

{% endblock headcss %}

{% block headjs %}

    {{ block.super }}

    <script src="{% url 'handlebars_templates' module_name='video' %}"></script>
    <!-- Where is this js/distributed/videoplayer.js file actually?-->
    <script src="{% static "js/distributed/videoplayer.js" %}"></script>

    <script>
    $(function() {

        window.videoWrapperView = new VideoWrapperView({
            video_id: "{{ video.slug }}",
            el: $(".video-wrapper")
        });

    });
    </script>

	<script src="{% static "acorn/lib/jquery-ui-1.10.0.custom.min.js" %}"></script>
	<script src="{% static "acorn/lib/modernizr.custom.js" %}"></script>
	<script src="{% static "acorn/lib/polyfiller.js" %}"></script>
	<script>
		if(window.webshims) {
			webshims.polyfill('mediaelement');
		}
	</script>

	<script src="{% static "acorn/acornmediaplayer/jquery.acornmediaplayer.js" %}"></script>

	<script>
		jQuery(function() {
			jQuery('video, audio').acornMediaPlayer();
		});
	</script>

{% endblock headjs %}

{% block content %}

    {% if prev %}
    <div class="vidprev"><a href="{{ prev.path }}?lang={{ video.selected_language }}">&lt; {% trans prev.title %} <span class="progress-circle" data-video-id="{{ prev.id }}"></span></a></div>
    {% endif %}

    {% if next %}
    <div class="vidnext pull-right"><a href="{{ next.path }}?lang={{ video.selected_language }}"><span class="progress-circle" data-video-id="{{ next.id }}"></span> {% trans next.title %} &gt;</a></div>
    {% endif %}

    <div class="clear"></div>

    {% if video.related_exercise %}
    <span class="related-exercise-button">
        <span class="progress-circle" data-exercise-id="{{ video.related_exercise.slug }}"></span>
        {# Translators: Example usage=> Exercise: Name of Exercise #}
        {% trans "Exercise" as exercise %}
        <a href="{{ video.related_exercise.path }}" class="simple-button green" title="{% trans exercise %}: '{% trans video.related_exercise.title %}'">{% trans "Practice this concept" %}</a>
    </span>
    {% endif %}

    <div class="video-wrapper"></div>

{% endblock content %}
